body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img1-piedra.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Para cubrir todo el área del cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para que el texto sea legible */
    border-radius: 10px; /* Bordes redondeados para suavizar */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
}

h2 {
    color: #333; /* Color de texto más oscuro */
    border-bottom: 2px solid #333; /* Línea inferior para los títulos */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    color: #666; /* Color de texto más suave */
}